<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166279583408-2v7cmjtalr9625lugssdnq4pc6p6ohf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166279583408-2v7cmjtalr9625lugssdnq4pc6p6ohf2</string>
	<key>API_KEY</key>
	<string>AIzaSyBIAAMdWqvXnMgMRyjhdTplo_uLQXVl5Xg</string>
	<key>GCM_SENDER_ID</key>
	<string>166279583408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satoyu.AppleSignInPush</string>
	<key>PROJECT_ID</key>
	<string>applesigninpush</string>
	<key>STORAGE_BUCKET</key>
	<string>applesigninpush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166279583408:ios:e7ff0a4a0fdff383a58d75</string>
</dict>
</plist>